@import 'manon-ruby-red.css'; /* v.3.0.2 */

/* Overrides on Manon */
template {
    display: none;
}

/* Actions */
section > div .actions,
article > div .actions {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

section > div .actions > *,
article > div .actions > * {
  margin-left: 1rem;
}
